<ul class="nav nav-pills bg-dark text-white">
    <li class="nav-item">
      <a class="nav-link  text-white" aria-current="page" href="#">Blogify</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
      </li>

      <% if(locals.user) { %>
        <li class="nav-item">
          <a class="nav-link text-white" href="/blog/add-new">Add Blog</a>
        </li>

        <li class="nav-item dropdown text-white">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= user.name %></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/signout">Sign Out</a></li>
          </ul>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link text-white" href="/user/signup">Create Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/user/signin">Signin</a>
          </li>
          <% } %>

      
    
  </ul>

  <% if(locals.error) {%>
    <div class="alert alert-danger" role="alert">
      <%= locals.error %>

    </div>

    <% } %>